*{
    font-size: 26px;
    font-family: Courier, monospace;
    background-color: rgb(201, 214, 200);
}
#div1{
    height:250px;
    width: 600px;
    margin:200px 60px 60px 400px;
    /* border: 2px solid black; */
    color:#156315;
    font-size: 20px;
    padding:15px;
    background-color:rgb(201, 214, 200);
}
#div1 h1{
    color:#156315;
    font-size:38px;
    text-align: center;
}

label{
    margin: 0px 0px 30px 50px;
}

input[type='submit']{
color:white;
background-color: rgb(169, 216, 165);
font-size:22px;
border: 0px solid rgb(169, 216, 165);
padding:12px;
border-radius: 2px;
margin:10px 10px 10px 160px;
}